$scoreboard-color-background: white !default;
$scoreboard-color-shadow: rgba(black, 0.6) !default;
$scoreboard-color-text-dark: #333 !default;
$scoreboard-color-text-light: white !default;
$scoreboard-color-text-grey: #ccc !default;

$scoreboard-color-theme-primary: #183c72 !default; // HydroDynamics logo average dark blue
$scoreboard-color-theme-secondary: #e7aa30 !default; // HydroDynamics logo average faucet yellow

$scoreboard-color-mission-border: #efefef !default;
$scoreboard-color-mission-active: darken($scoreboard-color-theme-primary, 5%) !default;
$scoreboard-color-penalties: #cc2229 !default;

$scoreboard-image-path: './' !default;

$scoreboard-overlay-width: 650px !default;

$scoreboard-transition-overlay-open: 0.2s !default;
$scoreboard-transition-mission-pointer: 0.2s !default;
